html {
  height: auto;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	margin: 0 auto;
	padding: 0;
	position: relative;
	height: auto;
	overflow: hidden;
	max-width: 1280px;
}

.background {
	position: relative;
	width: 100%;
}

.counter {
	position: absolute;
	top: 21%;
	left: 6%;
	font-size: 18px;
}

#figures {
	position: absolute;
	left: 80%;
	bottom: 35%;
	width: 100%;
}

#captain {
	margin-left: -23px;
}

#letters {
	white-space: pre;
	position: absolute;
	top: 17%;
	left: 33%;
	font-size: 36px;
}

